.shop-main {
    display: flex;
    margin: 50px 0;
    gap: 20px;
}

.shop-left {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    background: white;
    width: 40%;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.closeIcon {
    text-align: end;
    font-size: 20px;
    cursor: pointer;
}

.categoryFilter h3,
.shopFilterCount h3,
.sizeFilter h3,
.materialFilter h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.categoryFilterList ul,
.sizeFilterList ul,
.materialFilterList ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 260px;
    overflow-y: auto;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 10px 15px 10px;
    max-height: 200px;
}

.categoryFilterList ul li,
.sizeFilterList ul li,
.materialFilterList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.categoryFilterList ul li:hover,
.sizeFilterList ul li:hover,
.materialFilterList ul li:hover {
    color: #91b656;
}

.categoryFilterList ul li span {
    padding-left: 5px;
}

.checkBoxFilter input {
    cursor: pointer;
}

.shopFilterCount,
.sizeFilter,
.materialFilter {
    margin-top: 20px;
}

.shopFilterCount p {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 10px 15px 10px;
    font-size: 15px;
}

.materialFilterList ul {
    border: none;
}

.shop-right {
    width: 100%;
}

.shop-right .productIcon {
    left: 40px;
}

.shop-right h3 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
}

.shop-right img {
    width: 100%;
}

.shopSortFilter {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}

.shopFilter {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.sortFilter label {
    font-weight: 500;
    padding-right: 20px;
}

.sortFilter select {
    border: none;
    font-size: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.productIcon i {
    cursor: pointer;
}

/* /////////////////// */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.modal {
    z-index: 2;
}

.hidden {
    display: none;
}

/* //////////// */

.productM {
    width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 300;
    background-color: white;
    min-height: 100vh;
}

#close-search {
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: black;
    color: white;
}

.product-detail {
    position: relative;
    padding: 30px;
}

@media screen and (max-width: 700px) {
    .shop-left {
        width: 65%;
    }

    .shop-right .productIcon {
        left: 20px;
    }
}

@media (min-width: 480px) and (max-width: 1000px) {
    .shopSortFilter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .shopFilter {
        margin-bottom: 0;
    }

    .sortFilter {
        margin-top: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .shop-left {
        display: block;
        width: 35%;
        position: inherit;
        z-index: 0;
        padding-left: 0;
    }

    .shop-right {
        width: 65%;
    }

    .shopFilter {
        display: none;
    }

    .sortFilter {
        /* display: none; */
        margin-top: 30px;
        text-align: right;
    }

    .closeIcon {
        display: none;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    .shop-left {
        display: block;
        position: inherit;
        z-index: 0;
        width: 35%;
        padding-left: 0;
    }

    .shop-right {
        width: 80%;
    }

    .shopFilter {
        display: none;
    }

    .sortFilter {
        margin-top: 30px;
        text-align: right;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .closeIcon {
        display: none;
    }
}