* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

.hidden {
    display: none;
}

.active {
    color: #91b656;
}

.slideImage.active {
    border: 1px solid #91b656;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(0 0 0 / 5%);
}

.DisplayNone {
    display: none;
}

.DisplayBlock {
    display: block;
}

.hidden-menu {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(63 63 63 / 15%); */
    background: rgb(63 63 63 / 31%);
    backdrop-filter: blur(3px);
    z-index: 2;
}

.container {
    margin: 0 auto;
    padding: 15px 15px 0;
}

.logo {
    width: 120px;
    cursor: pointer;
}

header {
    position: relative;
}

.header-area {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
}

header .line {
    padding-top: 93px;
}

.header-main {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar {
    display: none;
}

/* Header-element start */

.header-element ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-element ul li {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
}

.header-element ul li:hover {
    color: #91b656;
}

.header-element ul li a {
    transition: all 0.3s linear;
}

.header-element ul li a:hover {
    color: #91b656;
}

.loginHeader {
    position: relative;
}

.loginHeaderA {
    display: none;
    position: absolute;
    top: 35px;
    /* left: -45px; */
    font-size: 16px;
    width: max-content;
    border: 1px solid #91b656;
    padding: 10px;
    background: white;
    border-radius: 5px;
}

.header-element ul li span {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #91b656;
    color: white;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
}

/* Header-element end */
/* Category start */

.CategoryHeader {
    width: max-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #91b656;
    color: white;
}

.categoryMenu {
    position: relative;
    margin-right: 30px;
}

.categoryMenu-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoryMenu-right {
    font-size: 12px;
}

.CategoryList {
    border: 1px solid #e2e2e2;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
}

.CategoryList ul li {
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
    border-bottom: 1px solid #e2e2e2;
}

.CategoryList ul li:hover {
    background-color: #f2f3ee;
    color: #91b656;
}

/* Category end */
/* Swiper start */

.header-wrap {
    margin: 10px 0;
    display: flex;
    align-items: center;
}


.header-wrap .swiper {
    margin: 0;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0 0 8px #00000014;
    background-color: #f8f3f0;
}

.swiper-slide p {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.sliderSection .swiper-slide img {
    width: 100%;
}

.swiper-pagination span {
    background-color: #7da63f;
}

/* Swiper end */
/* Search start */

.searchSection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    /* background-color: #eeeeee; */
    background: white;
    display: none;
}

.search {
    padding: 50px 0;
}

.search button {
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}

.search-title {
    text-align: center;
    padding-bottom: 30px;
}

.search-title h2 {
    font-weight: 500;
    font-size: 25px;
}

.search-input {
    display: flex;
    position: relative;
}

.search-input input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 10%);
}

.search-input i {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.search-input i:hover {
    background-color: #91b656;
}

/* Search end */
/* Menu-mobile start */

.menu-mobile {
    left: 0;
    opacity: 1;
    visibility: visible;

    position: fixed;
    top: 0;
    width: 300px;
    display: none;
    padding: 0 15px;
    height: 100%;
    z-index: 200;
    background-color: #fff;
    max-height: 100%;
    overflow-y: auto;
}

.menu-header {
    text-align: right;
}

.menu-header i {
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
}

.main-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}

/* header-end */
/* main-start */

.breadcrumb {
    margin-top: 30px;
    background: #fafafa;
}

.breadcrumb-list {
    padding-bottom: 15px;
}

.breadcrumb-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-list ul li {
    color: #717171;
}

.breadcrumb-list ul li a {
    color: #717171;
    margin-right: 7px;
}

/* breadcrumb end */
/* SliderSection start */

.swiper {
    width: 100%;
    height: 100%;
    margin: 30px 0 50px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    position: absolute;
    top: 50%;
    background: #91b656;
    color: white;
    padding: 7px;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 3px;
    height: 40px;
    width: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: inherit;
    border: 1px solid #91b656;
    color: #91b656;
}

.swiper-button-prev {
    left: 15px;
}

.swiper-button-next {
    right: 15px;
}

.slide-desc {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    text-align: start;
    z-index: 25;
}

.slide-desc p {
    color: #7da63f;
    font-size: 15px;
    font-weight: 500;
}

.slide-desc h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
    padding: 8px 0 24px;
    color: #333333;
}

.slide-desc a {
    border: none;
    background: #91b656;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.slide-desc a:hover {
    background-color: black;
    transition: all 0.3s linear;
}

.slide-desc p {
    padding-left: 0;
}

/* SliderSection end */
/* BannerSection start */

.banner-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 20px;
}

.banner-wrap li {
    position: relative;
}

.banner-wrap li img {
    width: 100%;
}

.bannerDesc h3 {
    position: absolute;
    top: 50px;
    left: 37%;
    text-align: center;
}

.bannerDesc a {
    background: #91b656;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 37%;
    transition: all 0.3s linear;
}

.bannerDesc a:hover {
    background-color: #222222;
}

.secondBannerDesc {
    position: absolute;
    top: 30%;
    left: 28%;
    color: white;
    text-align: center;
}

.secondBannerDesc span {
    border-bottom: 1px solid;
    font-size: 14px;
}

.secondBannerDesc h2 {
    padding: 10px 0;
    font-weight: 500;
}

.secondBannerDesc h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.secondBannerDesc a {
    position: unset;
    background-color: #222222;
    padding: 8px 20px;
}

.secondBannerDesc a:hover {
    background: #91b656;
}

/* bannerSection end */
/* productSection start */

.shopify-product h2 {
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 100px;
    padding-bottom: 30px;
}

.productList {
    margin-bottom: 25px;
}

.productList ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(0 0 0 / 22%);
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

.productList ul li {
    cursor: pointer;
}

.productList ul li a {
    transition: all 0.3s linear;
}

.productList ul li a:hover {
    color: #91b656;
}

.products {
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.productImg {
    position: relative;
}

.hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s linear;
}

.productImg:hover .hover {
    opacity: 1;
    display: block;
}

.productImg span {
    position: absolute;
    right: 0;
    top: 10px;
    background: red;
    color: white;
    padding: 2px 10px;
    z-index: 3;
}

.productImg a {
    cursor: pointer;
}

.productImg img {
    width: 100%;
    height: 100%;
}

.productIcon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 15px;
}

.productIcon i {
    background: white;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 3px;
    transition: all 0.3s linear;
    display: none;
}

.productIcon i:hover {
    color: white;
    background-color: #91b656;
}

.productItem {
    transition: all 0.3s linear;
}

.productItem:hover .productIcon i {
    display: block;
}

.productDesc p {
    transition: all 0.3s linear;
}

.productDesc p:hover {
    color: #91b656;
    cursor: pointer;
}

.rating ul {
    display: flex;
    gap: 5px;
    margin: 7px 0;
}

.rating ul li {
    color: #ffb503;
}

.productPrice {
    display: flex;
    gap: 7px;
}

.newPrice {
    font-weight: 600;
}

.oldPrice {
    text-decoration: line-through;
    color: #878787;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
}

.heart {
    cursor: pointer;
}

.heart.filled {
    color: black;
}

.productModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.productM {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    /* max-width: 600px; */
    position: relative;
    margin: 0 auto;
    /* min-height: 100vh; */
}


/* productSection end */
/* categorySection start */

.categorySection {
    margin: 80px 0;
}

.shopify-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopify-category h2 {
    font-weight: 500;
}

.mySwiper2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category a img {
    width: 100%;
}

.category-desc {
    width: 100%;
}

.category-desc p {
    background-color: #f8f4f0;
    border-top: 1px solid rgb(0 0 0 / 5%);
    text-align: center;
    position: relative;
    padding: 14px 15px;
}

.category {
    width: 190px;
    position: relative;
    transition: all 0.3s linear;
}

.mySwiper2 .swiper-slide:hover .categorySpan {
    display: block;
}

.categorySpan {
    display: none;
    background: #91b656;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgb(0 0 0 / 5%);
    text-align: center;
    padding: 14px 15px;
    color: white;
    width: 100%;
}

.sliderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sliderIcon i {
    display: flex;
}

.leftBtn,
.rightBtn {
    color: #91b656;
    height: 40px;
    font-size: 15px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #91b656;
    cursor: pointer;
}

.leftBtn:hover,
.rightBtn:hover {
    color: white;
    border: 1px solid white;
    background-color: #91b656;
}

/* categorySection end */
/* serviceArea start */

.service ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    font-size: 18px;
    margin: 30px 0;
}

.service li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service li i {
    color: #91b656;
}

.scroll {
    color: #fff;
    font-size: 16px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    line-height: 1;
    padding: 14px 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #91b656;
    z-index: 1000;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.scroll.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.scroll:hover {
    background-color: #222222;
    color: #91b656;
}

/* serviceArea end */
/* footer-area start */

.listHeader {
    display: flex;
    border-bottom: 1px solid rgb(0 0 0 / 22%);
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 15px;
}

.listHeader h3 {
    font-weight: 500;
}

.listHeader i {
    color: #666464;
}

.footerSubList {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.show-menu {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}

.footerSubList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.footerSubList li a {
    color: #666464;
    transition: all 0.3s linear;
}

.footerSubList li a:hover {
    color: #91b656;
}

.footer-main {
    margin-bottom: 50px;
}

.footer-main .logo {
    margin: 30px auto 5px;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.mailInput {
    position: relative;
    margin-top: 15px;
}

.mailInput input {
    height: 50px;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 10%);
}

.mailInput i {
    position: absolute;
    right: 15px;
    top: 18px;
    color: #91b656;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.mailInput i:hover {
    color: #222222;
}

.footer-bottom {
    background-color: #f9f8f4;
}

.footer-bottom p {
    text-align: center;
    color: #6f6f6f;
    padding: 15px 0;
}

/* footer-area end */

@media screen and (max-width: 1000px) {
    .service ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .productIcon i {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    .slide-img img {
        height: 300px;
    }
}

@media (min-width: 760px) and (max-width: 2000px) {
    .slide i {
        display: block;
    }

    .slide-desc {
        top: 30%;
        margin-left: 70px;
    }

    .slide-button i {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .banner-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .bannerWrapLast {
        left: 50%;
    }

    .secondBannerDesc {
        top: 20%;
        left: 25%;
    }

    .categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .shopify-category {
        position: relative;
    }

    .shopify-category h2 {
        text-align: left;
    }

    .categories {
        padding-bottom: 80px;
    }
}


@media (min-width: 760px) and (max-width: 1000px) {
    .container {
        max-width: 720px;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .productIcon {
        left: 35px;
    }

    .slide-desc {
        top: 25%;
        margin-left: 70px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .bannerWrapLast {
        left: 0%;
    }

    .MenuSlider i {
        display: flex;
    }

    .header-element ul {
        gap: 15px;
    }

    .header-element ul li {
        font-size: 20px;
    }

    .categoryMenu {
        display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
    }

    .slide-desc h3 {
        font-size: 35px;
        padding: 10px 0 25px;
    }

    .slide-desc p {
        font-size: 20px;
    }

    .banner-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .secondBannerDesc {
        position: absolute;
        top: 20%;
        left: 23%;
    }

    .products {
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    .categories {
        grid-template-columns: repeat(4, 1fr);
    }

    .shopify-category {
        position: relative;
    }

    .shopify-category h2 {
        text-align: left;
    }

    .categories {
        padding-bottom: 80px;
    }

    .service ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-main {
        display: flex;
    }

    .footerList {
        margin-top: 40px;
    }

    .footerSubList {
        display: block;
        overflow: visible;
        visibility: visible;
        opacity: 1;
    }

    .footerList {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .footer-logo {
        width: calc(23% - 30px);
    }

    .footer-main .logo {
        margin: 30px 0 5px;
    }

    .fa-plus::before {
        display: none;
    }

    .listHeader {
        border: none;
    }

    .mail {
        width: max-content;
        margin: 15px 0 25px;
    }

    .mailInput {
        width: max-content;
    }

    .productIcon {
        left: 35px;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    .container {
        max-width: 1200px;
    }

    .bannerWrapLast {
        left: 0%;
    }

    .MenuSlider i {
        display: flex;
    }

    .header-element ul li:nth-child(1) {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .menu-bar ul {
        display: flex;
        gap: 35px;
    }

    .menu-bar ul li a {
        display: flex;
        align-items: center;
        gap: 3px;
        transition: all 0.3s linear;
    }

    .menu-bar ul li a:hover {
        color: #91b656;
    }

    .menu-bar ul li a i {
        font-size: 11px;
    }

    .header-element ul {
        gap: 25px;
    }

    .header-element ul li {
        font-size: 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
    }

    .categoryMenu {
        display: block;
    }

    .slide-desc {
        margin-left: 90px;
    }

    .slide-desc h3 {
        font-size: 50px;
        padding: 15px 0 35px;
    }

    .slide-desc p {
        font-size: 30px;
    }

    .banner-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .productSection .products {
        grid-template-columns: repeat(5, 1fr);
    }

    .categories {
        grid-template-columns: repeat(5, 1fr);
    }

    .shopify-product h2 {
        font-size: 30px;
    }

    .productList ul {
        gap: 30px;
        font-size: 18px;
    }

    .shopify-category {
        position: relative;
    }

    .shopify-category h2 {
        text-align: left;
        font-size: 30px;
    }

    .categories {
        padding-bottom: 80px;
    }

    .service ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .service ul {
        gap: 0px;
        font-size: 20px;
    }

    .footer-main {
        display: flex;
    }

    .footerSubList {
        display: block;
        overflow: visible;
        visibility: visible;
        opacity: 1;
    }

    .footerList {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 40px;
    }

    .footer-main .logo {
        margin: 30px 0 5px;
    }

    .fa-plus::before {
        display: none;
    }

    .listHeader {
        border: none;
    }

    .mail {
        width: max-content;
        margin: 15px 0 25px;
    }

    .mailInput {
        width: max-content;
    }

    .productIcon {
        left: 35px;
    }
}

@media (min-width: 1450px) and (max-width: 2000px) {
    .container {
        max-width: 1450px;
    }

    .productIcon {
        left: 60px;
    }
}