.favouriteProduct {
    padding-top: 50px;
    padding-bottom: 50px;
}

.favouriteProduct{
    display: none;
}

.favouriteProduct h2 {
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}

.shop-right h3 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
}

.shop-right img {
    width: 100%;
}

.shopSortFilter {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}

.shopFilter {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.sortFilter label {
    font-weight: 500;
    padding-right: 20px;
}

.sortFilter select {
    border: none;
    font-size: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.notFavouriteProduct{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.notFavouriteProduct a{
    border-bottom: 1px solid black;
    transition: all 0.3s linear;
}

.notFavouriteProduct a:hover{
    border-bottom: 1px solid #91b656;
    color: #91b656;
}

@media (min-width: 1200px) and (max-width: 2000px) {
    .favouriteProduct h2 {
        font-size: 30px;
        font-weight: 600;
    }
}

@media (min-width: 768px) and (max-width: 1500px) {
    .productIcon {
        left: 35px;
    }

    .notFavouriteProduct {
        font-size: 25px;
    }
}

@media (min-width: 1450px) and (max-width: 2000px) {
    .productIcon {
        left: 60px;
    }
}